
    <nav class="navbar">
        <div class="navigationBar fixed-top d-flex justify-content-between shadow-sm ">
          <img class="nav-img" src="nav-bar.jpg">
          <h4 class="fw-bold text-light"><div class="iitBrand">Munch<span class="iit">IIT</span></div></h4>
            <div class="navbarButtons flex-row"> 
                  <a class="nav-link orders" href="/admin"><i class="fas fa-box"></i><span class="nav-text">Orders</span> </a>
                  <a class="nav-link  modify position-relative" href="/adminModify"><i class="fas fa-pencil-alt"></i><span class="nav-text">Update menu</span></a>
                  <a class="nav-link history" href="/orderHistory"><i class="fas fa-history"></i>History</a> 
            </div>
        </div>
        </nav>
        <div class="adminout"><a class="nav-link orders" href="/logout"><span class="nav-text">Log Out</span></a></div>