<!-- <nav class="navbar">
    <div class="navigationBar fixed-top d-flex justify-content-between shadow-sm p-2">
        <h3 class="fw-bold text-light">Admin</h3>
        <div class="navbarButtons flex-row">
              <a href="/admin"><i class="fas bi-house-door-fill" style="padding: 0 3vh; size: 2vh;"></i></a>
              <a href="/admin_menuPage"><i class="fas fa-solid bi-card-list"></i></a>

              <a href="/admin_historyPage"></a><i class="fas fa-solid bi-currency-rupee" style="padding: 0 2vh;"></i></a>
              <a class="nav-link profile" href="/profile"><i class="fas fa-user"></i></a>
        </div>
    </div>
    </nav> -->
    <nav class="navbar">
        <div class="navigationBar fixed-top d-flex justify-content-between shadow-sm ">
          <img class="nav-img" src="nav-bar.jpg">
          <h4 class="fw-bold text-light">MunchIIT</h4>
            <div class="navbarButtons flex-row"> 
                  <a class="nav-link orders" href="/admin"><i class="fas fa-box"></i><span class="nav-text">Orders</span> </a>
                  <a class="nav-link  modify position-relative" href="/adminModify"><i class="fas fa-pencil-alt"></i><span class="nav-text">Update menu</span></a>
                  <a class="nav-link history" href="/orderHistory"><i class="fas fa-history"></i>History</a> 
            </div>
        </div>
        </nav>

<!-- Chat Option -->
<!-- <a class="nav-link chat position-relative" href="/chat"><i class="fas fa-comment-dots"></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="chatBadge">
0</span></a> -->
<!-- <a class="nav-link home" href="/"><i class="fas fa-home" style="padding: 0 2vh;"></i> </a> -->
<!-- <a class="nav-link login" href="/login" style="height: 60%;"><i class="fas fa-sign-in-alt" style="padding: 0 2vh;"></i> Login</a> -->