<nav class="navbar">
<div class="navigationBar fixed-top d-flex justify-content-between shadow-sm">
  <img class="nav-img" src="nav-bar.jpg">
  <h4 class="fw-bold text-light">MunchIIT</h4>
    <div class="navbarButtons flex-row">
      <% if(!currentUser) { %>
        <a class="nav-link login" href="/login"><i class="fas fa-sign-in-alt"></i>Login</a>  
      <% } %>
          <a class="nav-link home" href="/"><i class="fas fa-home"></i><span class="nav-text">Home</span> </a>
          <a class="nav-link cart position-relative" href="/cart"><i class="fas fa-shopping-cart"></i><span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger" id="cartBadge">
            0</span><span class="nav-text">Cart</span></a>
            <% if(currentUser) { %>
              <a class="nav-link orders" href="/orders"><i class="fas fa-box"></i>orders</a>
              <a class="nav-link profile" href="/profile"><i class="fas fa-user"></i>User</a> 
            <% } %>
    </div>
</div>
</nav>