.navigationBar {
    height: 75px;
    width: 100%;
    background-color: white;
}
.navbarButtons {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    color: purple;
}
.nav-img{
    height: 75px;
    width: 40vw;
    margin: 0;
    position: absolute;
    z-index: -1;
}
.nav-link {
    margin: 0 1.5vw;
}
.c , .home {
    margin-top: 2px;
}
.navbar h4{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.3vw;
}

.navigationBar a{
    font-size: 17px;
}

.navigationBar a:hover{
    transform: scale(1.1);
}

.navbarButtons{
    padding-right: 15px;
}
.navbar .fas{
    color: purple;
    margin: 3px;
}
.fa-utensils {
    color: black;
}
.fa-tag {
    color: gold;
}
.fas {
    font-size: 18px;
    color: white;
    padding-right: 7px;
}
.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.quantity-input {
    text-align: center;
}
.container {
    width: 100%; /* Use full width */
    margin-right: 0; /* Remove right margin */
    padding-top: 1vh;
}
.continueShopping {
    border: 2px solid purple;
    background-color: white;
    color: purple;
    text-decoration: none;
    border-radius: 1vh;
    padding: 1vh 2vh;
}
.continueShopping:hover {
    cursor: pointer;
    background-color: purple;
    color: white;
    scale: 1.1;
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .container {
        width: auto; /* Allow auto width on smaller screens */
        margin-right: 1vh;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .removeItem {
        display: flex;
        justify-content: space-between;
    }
    .continueShopping {
        margin-right: 1vh;
    }
}
th{
    text-align: center;
}
.newItemForm{
    border: 2px solid purple;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}