.cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.quantity-input {
    /* width: 80px; */
    text-align: center;
}
.container {
    width: 45vw;
    margin-right: 5vh;
    padding-top: 1vh;
}
.continueShopping {
    border: 2px solid purple;
    background-color: white;
    color: purple;
    text-decoration: none;
    border-radius: 1vh;
    padding: 1vh 2vh;
}
.continueShopping:hover{
    cursor: pointer;
    background-color: purple;
    color: white;
    scale: 1.1;
    opacity: 0.7;
}

@media (max-width: 1000px) {
    .container {
        width: auto;
        margin-right: 1vh;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .removeItem {
        display: flex;
        justify-content: space-between;
    }
    .continueShopping {
        margin-right: 1vh;
    }
  }