.navigationBar {
    height: 75px;
    width: 100%;
    background-color: white;
}
.navbarButtons {
    display:inline-flex;
    align-items: center;
    justify-content: center;
    color: purple;
}
.nav-img{
    height: 75px;
    width: 40vw;
    margin: 0;
    position: absolute;
    z-index: -1;
}
.nav-link {
    margin: 0 1.5vw;
}
.reviews, .addCart, select{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vh;
}
.itemCount {
  width: 4vh;
  
}
#cartBadge, #chatBadge{
    display: none;
}
.cart , .home {
    margin-top: 2px;
}

#search{
    border-radius: 57px;
}
.fas {
    font-size: 18px;
    color: white;
    padding-right: 7px;
}
.navbar .fas{
    color: purple;
    margin: 3px;
}
.fa-utensils {
    color: black;
}
.fa-tag {
    color: gold;
}
.fa-search{
    position: absolute;
    z-index: 1;
    color: purple;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.bi{
    font-size: 20px;
}
.search {
    background-color: #941194;
}
input[type="text"], input[type="text"]::placeholder {
    color:rgb(148, 17, 148);
}
input[type="text"]:focus {
    outline: none;
    border-color: rgb(148, 17, 148);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(148, 17, 148, 0.8);
}
img {
    height: 300px;
}
.addCart {
    background-color: rgb(148, 17, 148);
    color: white;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0 ;
}
.cartSelect {
    border-top-left-radius: 1vh;
    border-bottom-left-radius: 1vh ;
    background-color: rgb(148, 17, 148);
    color: white;
    padding: 3px;
}
.cartFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.reviews{
    background-color: gold;
}
button {
    color: white;
    border: none;
    padding: 1vh 2vh;
    border-radius: 1vh;
    transition: transform 0.3s ease, opacity 0.3s ease;
}
button:hover{
    cursor: pointer;
    scale: 1.1;
    opacity: 0.7;
}

.countDisplay {
    margin: 0 2.5vw;
}

ul {
    text-align: left 
}

.Card {
    overflow: hidden;
    position: relative;
}

.Card .front {
    position: relative;
}

.Card .front img {
   width: 100%;
    display: block;
}
.Card .back {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: rgba(232, 239, 241,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0; 
    
    transition: bottom 1.2s ease, opacity 1s ease;
}

.Card:hover .back {
    opacity: 1;
    bottom: 0;
}

.navbar h4{
    color: white;
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 3.3vw;
}
.iit {
    color: #FAA519;
}
.iitBrand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.navigationBar a{
    font-size: 17px;
}

.navigationBar a:hover{
    transform: scale(1.1);
}

.navbarButtons{
    padding-right: 15px;
}

.profile{
    
    padding-right: 1.3vw;
}
#carouselExample img {
    height: 30vmax;
} 
.blurred {
    filter: blur(5px);
}

.image-container {
    position: relative;
}

.out-of-stock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
}

.item-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-type {
    float: right;
    font-size: 14px;
    color: #666;
}

.price {
    font-weight: bold;
}

.category {
    font-size: 14px;
    color: #888;
}
.fa-leaf{
    color: green;
}
.fa-drumstick-bite {
    color: red;
}
.carousel-caption{
    text-shadow: 0 0 20px rgb(170, 157, 157);
    position: absolute;
    top: 50%;
    left: 10%;
}
.carousel-caption h5 {
    font-size: 3vmax;
}
.carousel-caption p {
    font-size: 3vmin;
}
.carousel-item {
    color: white;
}
#carouselExample{
    cursor: pointer;
}
.cardtitle{
    display: flex;
    justify-content: space-between;
}
.filterbar {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    gap: 10px;  
}
.filters {
    background-color: purple;
    color: white;
    border-radius: 5px;
}